body {
    text-align: center;
    font-family: Arial, sans-serif;
}

.traffic-light {
    width: 120px;
    background: #333;
    padding: 15px;
    margin: 30px auto;
    border-radius: 20px;
}

.light {
    width: 80px;
    height: 80px;
    margin: 10px auto;
    border-radius: 50%;
    background: #555; /* OFF */
}

.red.on {
    background-color: red;
}

.yellow.on {
    background-color: yellow;
}

.green.on {
    background-color: green;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
